cluster: stanfordaimi
project: stanfordaimi
accountNumber: "084375550014"

configuration:
  configurationRevision: calico-dev

alb-controller:
  enabled: true
  configuration:
    enabled: true

calico:
  enabled: true
  configuration:
    enabled: false

coreDNS:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.6.3"
  configuration:
    enabled: false

karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: stanfordaimi
  migration: true
  default:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    consolidationPolicy: "WhenUnderutilized"
    consolidateAfter: "5m"
    expireAfter: "72h"
    volumeSize: 80Gi

vpc-cni:
  enabled: true
  configuration:
    enabled: false
kube-proxy:
  enabled: true
