# The name of the cluster this configuration is going to. This should match the name of the directory configuration
# is stored in
cluster: qaplanetv1
project: qa

accountNumber: "707767160287"

alb-controller:
  enabled: true
  configuration:
    enabled: true

aws-s3-mountpoint:
  enabled: true
  targetRevision: "2.0.0"
  configuration:
    enabled: false

calico:
  enabled: true
  configuration:
    enabled: false

cert-manager:
  enabled: true

coreDNS:
  enabled: true
  configuration:
    enabled: false

crossplane:
  enabled: true

custom-objects:
  enabled: true

ebs-csi-driver:
  enabled: true
  configuration:
    enabled: false

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.0.8"

karpenter-crds:
  amiSelectorName: "1-31-EKS-FIPS*"
  enabled: true
  selectorTag: qaplanetv1
  migration: true
  default:
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "5m"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - on-demand
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-category
        operator: In
        values:
          - r
  workflow:
    volumeSize: 80Gi
  jupyter:
    volumeSize: 80Gi

vpc-cni:
  enabled: true
  configuration:
    enabled: false

crossplane-crds:
  enable: true
  useIRSA: true
  iamRoleName: "crossplane-test-qaplanetv1"
