global:
  dev: false
  # uncomment once we cutover, so we can use shared ALB
  #environment: "unfunded"
  hostname: "diseasedatahub.org"
  origins_allow_credentials: ["https://tb.diseasedatahub.org", "https://aids.diseasedatahub.org", "https://microbiome.diseasedatahub.org", "https://flu.diseasedatahub.org"]
  manifestGlobalExtraValues:
    cookie_domain: "diseasedatahub.org"
  aws:
    enabled: true
    useLocalSecret:
        enabled: true
        localSecretName: external-secrets-niaiddata-secret
    wafv2:
      # -- (bool) Set to true if using AWS WAFv2
      enabled: true
      # -- (string) ARN for the WAFv2 ACL.
      wafAclArn: arn:aws:wafv2:us-east-1:662843554732:regional/webacl/unfunded-waf/e10ae423-8e4e-48ba-9a0e-52b43f28f6d4
  revproxyArn: arn:aws:acm:us-east-1:662843554732:certificate/176af316-6175-4213-af46-766e0bbd8b5a
  dictionaryUrl: "https://s3.amazonaws.com/dictionary-artifacts/chords-health-dictionary/0.1.0/schema.json"
  postgres:
    dbCreate: false
    externalSecret: "niaiddata-master-password"
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true
  topologySpread:
    # -- (bool) Whether to enable topology spread constraints for all subcharts that support it.
    enabled: true
    # -- (string) The topology key to use for spreading. Defaults to "topology.kubernetes.io/zone".
    topologyKey: "topology.kubernetes.io/zone"
    # -- (int) The maxSkew to use for topology spread constraints. Defaults to 1.
    maxSkew: 1

arborist:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  externalSecrets:
    dbcreds: "niaiddata-arborist-db-creds"
  image:
    repository: quay.io/cdis/arborist
    tag: master

aws-es-proxy:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  esEndpoint: vpc-unfunded-gen3-metadata-2-tf3gyjftzrgm5asaxuvqxxwv2m.us-east-1.es.amazonaws.com
  externalSecrets:
    awsCreds: "niaiddata-aws-es-proxy-creds"
  enabled: true
  image:
    repository: quay.io/cdis/aws-es-proxy
    tag: v1.3.1

indexd:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  # defaultPrefix: "dg.C78ch/"
  externalSecrets:
    dbcreds: "niaiddata-indexd-db-creds"
    serviceCreds: "niaiddata-indexd-service-creds"

  enabled: true
  image:
    repository: quay.io/cdis/indexd
    tag: master

peregrine:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  externalSecrets:
    dbcreds: "niaiddata-peregrine-db-creds"
  enabled: true
  image:
    repository: quay.io/cdis/peregrine
    tag: master
    pullPolicy: Always

revproxy:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  image:
    repository: quay.io/cdis/nginx
    tag: master

sheepdog:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  externalSecrets:
    dbcreds: "niaiddata-sheepdog-db-creds"
  enabled: true
  image:
    repository: quay.io/cdis/sheepdog
    tag: master

manifestservice:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  image:
    repository: quay.io/cdis/manifestservice
    tag: master
  externalSecrets:
    manifestserviceG3auto: "niaiddata-manifestservice-g3auto"



# disabled services
ambassador:
  enabled: false
wts:
  enabled: false
hatchery:
  enabled: false
pelican:
  enabled: false
pidgin:
  enabled: false
sower:
  enabled: false
ssjdispatcher:
  enabled: false
audit:
  enabled: false
argo-wrapper:
  enabled: false
metadata:
  enabled: false
