cluster: devplanetv2
project: dev

accountNumber: "707767160287"

alb-controller:
  enabled: true
  configuration:
    enabled: false

aws-s3-mountpoint:
  enabled: true
  configuration:
    enabled: true

calico:
  enabled: true
  configuration:
    enabled: false

coreDNS:
  enabled: true
  configuration:
    enabled: false

ebs-csi-driver:
  enabled: false
  configuration:
    enabled: false

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.0.8"
  configuration:
    enabled: false

karpenter-crds:
  amiSelectorName: "1-31-EKS-FIPS*"
  enabled: true
  selectorTag: "devplanetv2"
  migration: true
  default:
    consolidation: true
    consolidationPolicy: "WhenEmpty"
    expireAfter: "168h"
  workflow:
    sgSelector: devplanetv2

vpc-cni:
  enabled: true
  configuration:
    enabled: false
