cluster: chords
project: chords
accountNumber: "048463324059"

alb-controller:
  enabled: true
  configuration:
    enabled: false

aws-s3-mountpoint:
  enabled: true
  configuration:
    enabled: false

calico:
  enabled: true
  configuration:
    enabled: false

coreDNS:
  enabled: true
  configuration:
    enabled: false

ebs-csi-driver:
  enabled: false
  configuration:
    enabled: false

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.6.3"

karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: chords
  migration: true
  default:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "5m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - on-demand
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values:
          - r8i-flex
          - m8i-flex
      - key: karpenter.k8s.aws/instance-memory
        operator: Gt
        values:
          - "7000"
  workflow:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: workflow
    amiFamily: AL2023
    volumeSize: 80Gi
  jupyter:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: jupyter
    amiFamily: AL2023
    volumeSize: 80Gi

kube-proxy:
  enabled: true
  image:
    repo: "602401143452.dkr.ecr.us-east-1.amazonaws.com/eks/kube-proxy"
    tag: "v1.33.3-minimal-eksbuild.11"

vpc-cni:
  enabled: true
  configuration:
    enabled: false
kube-proxy:
  enabled: true
