global:
  dev: false
  # uncomment once we cutover, so we can use shared ALB
  #environment: "unfunded"
  hostname: "caninedc.org"
  aws:
    enabled: true
    useLocalSecret:
        enabled: true
        localSecretName: external-secrets-canine-secret # pragma: allowlist secret
    wafv2:
      # -- (bool) Set to true if using AWS WAFv2
      enabled: true
      # -- (string) ARN for the WAFv2 ACL.
      wafAclArn: arn:aws:wafv2:us-east-1:662843554732:regional/webacl/unfunded-waf/e10ae423-8e4e-48ba-9a0e-52b43f28f6d4
  revproxyArn: arn:aws:acm:us-east-1:662843554732:certificate/5874502e-5b67-415f-80ee-dcb814d2883f
  dictionaryUrl: "https://s3.amazonaws.com/dictionary-artifacts/canine_dictionary/1.1.0/schema.json"
  postgres:
    dbCreate: false
    externalSecret: "pg-master" # pragma: allowlist secret
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true
  pdb: true
  manifestGlobalExtraValues:
    fence_url: https://caninedc.org/user

arborist:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  externalSecrets:
    dbcreds: "canineprod-arborist"
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/arborist
    tag: 2024.09

aws-es-proxy:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  esEndpoint: vpc-unfunded-gen3-metadata-2-tf3gyjftzrgm5asaxuvqxxwv2m.us-east-1.es.amazonaws.com
  externalSecrets:
    awsCreds: "canineprod-aws-es-proxy-creds"
  enabled: true
  image:
    repository: quay.io/cdis/aws-es-proxy
    tag: 0.8

indexd:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  defaultPrefix: "dg.C78ne/"
  externalSecrets:
    dbcreds: "canineprod-indexd"
    serviceCreds: "canineprod-indexd-service-creds"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/indexd
    tag: 2024.09

peregrine:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  externalSecrets:
    dbcreds: "canineprod-peregrine"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/peregrine
    tag: 2024.09
    pullPolicy: Always

revproxy:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  replicaCount: 2
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/nginx
    tag: 2024.09

sheepdog:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  externalSecrets:
    dbcreds: "canineprod-sheepdog"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/sheepdog
    tag: 2024.09

manifestservice:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/manifestservice
    tag: 2024.09
  externalSecrets:
    manifestserviceG3auto: "canine-manifestservice-g3auto"

etl:
  enabled: true
  spark:
    image:
      repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/gen3-spark
      tag: 2024.09
  tube:
    image:
      repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/tube
      tag: 2024.09

sower:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/sower
    tag: 2024.09
  externalSecrets:
    pelicanserviceG3auto: "canine-pelicanservice-g3auto"

ssjdispatcher:
  # Lower cost
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ssjdispatcher
    tag: 2024.09

metadata:
  # Lower cost
  initResources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  resources:
    requests:
      memory: "105Mi"
      cpu: "15m"
  externalSecrets:
    dbcreds: "canineprod-metadata"
    metadataG3auto: "canine-metadata-g3auto"
  enabled: true
  esEndpoint: http://elasticsearch:9200
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/metadata-service
    tag: 2024.09

# disabling workspace services
ambassador:
  enabled: false
wts:
  enabled: false
hatchery:
  enabled: false

# disabling audit service
audit:
  enabled: false
